$light-background-colour: #202438;
$text-colour: #ffffffca;
$text-colour-hover: #ffffff;

.Nav {
    right: 0;
    list-style-type: none;
}

.NavText {
    text-decoration: none;
    font-size: 150%;
    color: $text-colour;
    margin: 10px;
}

.NavText:hover {
    color: $text-colour-hover;
}

button {
    border: none;
    background: none;
    font-size: 20px;
}

.mobileIcons {
    display: none;
}

.NavBar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-background-colour;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.Logo {
    color: $text-colour;
}

.NavBar .Items a {
    color: $text-colour;
    font-size: 150%;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
}
.NavBar .Items a:hover {
    opacity: 1;
    color: $text-colour-hover;
}

.NavBar .Items a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $text-colour-hover;
    transform: all 0.45s;
}

.NavBar .Items a:hover::before {
    width: 100%;
}

.NavBar .NavToggle {
    display: none;
}

@media (max-width: 768px) {
    .NavBar .Items {
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: $light-background-colour;
        left: 0px;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 0.45s;
    }

    .NavBar .Items a::before {
        background: transparent;
    }

    .NavBar .ItemsOpen {
        transform: translateX(0);
    }

    .NavBar .NavToggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .NavToggle .Bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: $text-colour;
    }

    .NavToggle .Bar::before,
    .NavToggle .Bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: $text-colour;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
    }

    .NavToggle .Bar::before {
        width: 32px;
        transform: translateY(-8px);
        right: 0;
    }
    .NavToggle .Bar::after {
        width: 32px;
        transform: translateY(8px);
    }

    .NavBarOpen .Bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .NavBarOpen .Bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
    .NavBarOpen .Bar::after {
        transform: rotate(-45deg) translate(26px, 26px);
    }
}
